* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --website-bg-color: #d8d8d8;
    --text-color: #122c4f;
    --main-font: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

hr {
    border-top: 2px solid var(--text-color);
}

svg {
    fill: var(--text-color);
}

img[src$=".svg"] {
    filter: brightness(0) saturate(100%) invert(12%) sepia(45%) saturate(2089%) hue-rotate(192deg) brightness(94%) contrast(92%);
}

.tool img[src$=".svg"] {
    filter: none;
}

body {
    background-color: var(--website-bg-color);
    color: var(--text-color);
    padding: 50px 150px 50px 150px;
    height: auto;
    min-height: 100vh;
    font-family: var(--main-font);
}

.main-container {
    height: 100%;
}

@media (max-width: 1650px) {
    .hero-section-title {
        font-size: 9rem;
    }

    .hero-section>.hero-section-title>a>.hero-section-icon img {
        height: 75px;
        width: auto;
    }

    .hero-section>.hero-section-title>.hero-section-icon img {
        height: 75px;
        width: auto;
    }
}

@media (max-width: 1475px) {
    .hero-section {
        padding-left: 30px;
        padding-right: 0;
    }

    .hero-section-title {
        font-size: 8rem;
    }

    .hero-section>.hero-section-title>a>.hero-section-icon img {
        height: 65px;
        width: auto;
    }

    .hero-section>.hero-section-title>.hero-section-icon img {
        height: 65px;
        width: auto;
    }
}

@media (max-width: 1200px) {
    hr {
        border-top: 1px solid var(--text-color);
    }

    .hero-section-title {
        font-size: 7rem;
    }

    .hero-section>.hero-section-title>a>.hero-section-icon img {
        height: 55px;
        width: auto;
    }

    .hero-section>.hero-section-title>.hero-section-icon img {
        height: 55px;
        width: auto;
    }
}

@media (max-width: 1084px) {
    body {
        padding: 50px;
    }
}

@media (max-width: 990px) {
    .hero-section {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .hero-section-title {
        font-size: 6rem;
    }

    .hero-section>.hero-section-title>a>.hero-section-icon img {
        height: 45px;
        width: auto;
    }

    .hero-section>.hero-section-title>.hero-section-icon img {
        height: 45px;
        width: auto;
    }
}

@media (max-width: 770px) {
    .hero-section {
        padding-right: 15px;
        padding-left: 0;
    }

    .hero-section>.hero-section-title>a>.hero-section-icon img {
        height: 55px;
        width: auto;
    }

    .hero-section>.hero-section-title>.hero-section-icon {
        display: none;
    }

    .hero-section-title:nth-child(1) {
        font-size: 6rem;
    }

    .hero-section-title:nth-child(2) {
        font-size: 6rem;
    }

    .hero-section-title:nth-child(3) {
        font-size: 6rem;
    }

    .hero-section-title:nth-child(4) {
        font-size: 6rem;
    }
}

@media (max-width: 700px) {
    .hero-section>.hero-section-title>a>.hero-section-icon img {
        display: none;
    }
}

@media (max-width: 625px) {
    .hero-section {
        padding-bottom: 50px;
    }
}

@media (max-width: 575px) {
    .hero-section-title:nth-child(1) {
        font-size: 5rem;
    }

    .hero-section-title:nth-child(2) {
        font-size: 5rem;
    }

    .hero-section-title:nth-child(3) {
        font-size: 5rem;
    }

    .hero-section-title:nth-child(4) {
        font-size: 5rem;
    }
}

@media (max-width: 500px) {
    .hero-section-title:nth-child(1) {
        font-size: 4rem;
    }

    .hero-section-title:nth-child(2) {
        font-size: 4rem;
    }

    .hero-section-title:nth-child(3) {
        font-size: 4rem;
    }

    .hero-section-title:nth-child(4) {
        font-size: 4rem;
    }
}

@media (max-width: 440px) {
    body {
        padding: 50px 20px 50px 20px;
    }

    .hero-section-title:nth-child(1) {
        font-size: 3.8rem;
    }

    .hero-section-title:nth-child(2) {
        font-size: 3.8rem;
    }

    .hero-section-title:nth-child(3) {
        font-size: 3.8rem;
    }

    .hero-section-title:nth-child(4) {
        font-size: 3.8rem;
    }
}